.placeholder{
            height: 18vh;
        }
        .connexion{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 110vh;
            align-self: center;
            .sign-up{
                h1{
                    padding-bottom:8vh;
                }
                display: flex;
                flex-direction: column;
                button{
                    width: 16vh;
                    font-size: 3vh;
                    max-width: 16vh;
                    padding: 0.1vh;
                    border: none;
                    max-height: 5vh;
                    min-height: 5vh;
                    align-self: center;
                    border-radius: 3vh;
                    background-color: rgb(234, 236, 236, 0.8);
                    text-decoration: none;
                    &:hover{
                        background-color: rgba(255, 255, 255);
                        cursor: pointer;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    
                }
            }
            .login{
                display: flex;
                flex-direction: column;
                button{
                    align-self: flex-end;
                    width: 21vh;
                    font-size: 3vh;
                    max-width: 29vh;
                    padding: 0.1vh;
                    margin-left: 4vh;
                    border: none;
                    max-height: 5vh;
                    min-height: 5vh;
                    border-radius: 3vh;
                    background-color: rgb(234, 236, 236, 0.8);
                    &:hover{
                        background-color: rgba(255, 255, 255);
                        cursor: pointer;
                    }
                }
                input{
                    font-size: 3vh;
                    &:focus-visible{
                        outline:0.1vh solid black;
                    }
                }
            }
        }
h1{
    padding: 0vh;
    margin: 0vh;
}