{% load static %}
{% load compress %}
{% compress css %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LITRevu{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sign/sign.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sign-up/sign-up.css' %}">
    {% endcompress %}
</head>
<body>
    <section>
        <div class="logo">
            {% block logo %}
            <img src="../../static/app/images/LITrevu.png" alt="">
            {% endblock %}
        </div>
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
        {% block content %}

        {% endblock %}
        {% if user.is_authenticated %}
            <p>Vous êtes connecté en tant que {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}
    </section>
</body>
</html>
