{% extends "templates/app/website-base.html" %}
{% block title %}LITrevu{% endblock %}
{% block content %}
 <div class="following-page">
    <h3>Suivre d'autres utilisateurs :</h3>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <div class="follow-users">
        <form action="{% url 'followings' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="follow-button"type="submit" value="Suivre">
        </form>
    </div>
    <h3>Mes abonnés</h3>
    {% if not followers_list %}
        <p>Vous n'avez aucun abonné pour le moment</p>
    {% endif %}
    {% for following in followings %}
        {% if following.followed_user == request.user %}
            <p>{{ following.user.username }}</p>
        {% endif %}
    {% endfor %}
    <h3>Mes abonnements</h3>
    <div class="followed-list">
        {% if not followings_list %}
            <p>Vous n'êtes abonnés à personne pour le moment</p>
        {% endif %}
            <div class="followed-users">
                {% for following in followings %}
                {% if following.user == request.user %}
                <div class="followed-user">
                    <p>{{ following.followed_user.username }}</p>
                    <div class="followers-buttons">
                        <a href="#unfollow">Se désabonner</a>
                        <a href="#block_user">Bloquer</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
    </div>
    {% for following in followings %}
            <div id="unfollow" class="modal-window">
                <div class="modal">
                    <p>Se désabonner de {{ following.followed_user.username }} ? </p>
                    <form action="{% url 'unfollow' following.id %}" method="post">
                        {% csrf_token %}
                        <input class="unfollow-form" type="submit" value="Oui">
                    </form>
                    <a href="{% url 'followings' %}"><button class="close-modal">Non</button></a>
                </div>
            </div>
            <div id="block_user" class="modal-window">
                <div class="modal">
                    <p>Bloquer {{ following.followed_user.username }} ? </p>
                    <form action="{% url 'block_user' following.id%}" method="post">
                        {% csrf_token %}
                        <input class="unfollow-form" type="submit" value="Oui">
                    </form>
                    <a href="{% url 'followings' %}"><button class="close-modal">Non</button></a>
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %} 