{% extends "templates/app/website-base.html" %}
{% block title %}LITrevu{% endblock %}
{% block content %}
<h2>Suivre d'autres utilisateurs :</h2>
{% if form.errors %}
    {{ form.errors }}
{% endif %}
<form action="{% url 'followings' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Envoyer">
</form>
<h2>Mes abonnés</h2>
{% for following in followings %}
    {% if following.followed_user == request.user %}
        <p>{{ following.user.username }}</p>
    {% endif %}
{% endfor %}
<h2>Mes abonnements</h2>
{% for following in followings %}
    {% if following.user == request.user %}
        <p>{{ following.followed_user.username }}</p>
        <a href="#unfollow">Se désabonner</a>
        <a href="#block_user">Bloquer</a>
        <div id="unfollow">
            <div class="modal">
                <p>Se désabonner de {{ following.followed_user.username }} ? </p>
                <form action="{% url 'unfollow' following.id %}" method="post">
                    {% csrf_token %}
                    <input class="unfollow-form" type="submit" value="Oui">
                </form>
                <button class="close-modal">Non</button>
            </div>
        </div>
        <div id="block_user">
            <div class="modal">
                <p>Bloquer {{ following.followed_user.username }} ? </p>
                <form action="{% url 'block_user' following.id%}" method="post">
                    {% csrf_token %}
                    <input class="unfollow-form" type="submit" value="Oui">
                </form>
                <button class="close-modal">Non</button>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %} 