{% load static %}
{% load compress %}
{% compress css %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LITRevu{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% endcompress %}
</head>
<body>
    <header>
        <h1>LITRevu</h1>
        <nav>
            <a href="{% url 'flux' %}">Flux</a>
            <a href="{% url 'user_posts' %}">Mes Posts</a>
            <a href="{% url 'flux' %}">Abonnements</a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Se déconnecter</a>
            {% endif %}
        </nav>
    </header>
    <section>
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
        {% block content %}

        {% endblock %}
    </section>
</body>
</html>
