<!DOCTYPE html>
{% load static %}
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}LITrevu{% endblock %}</title>
            {% load compress %}
            {% compress css %}
            <link rel="stylesheet" href="{% static 'styles.css' %}">
            {% endcompress %}
            <script src="https://kit.fontawesome.com/7104ef3817.js" crossorigin="anonymous" defer></script>
    </head>
    <body>
        <header>
            <p>Utilisateur connecté : {{ request.user.username }}</p>
            <h1>
                <a href="{% url 'flux' %}">LITRevu</a>
            </h1>
            <nav>
                <a href="{% url 'flux' %}">Flux</a>
                <a href="{% url 'user_posts' %}">Vos Posts</a>
                <a href="{% url 'followings' %}">Abonnements</a>
                <a href="{% url 'logout' %}">Se déconnecter</a>
            </nav>
        </header>
        {% if messages %}
        {% for message in messages %}
        <div class="messages">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <section>
            {% block content %}{% endblock content %}
        </section>
        <script type="text/javascript" src="{% static 'transition.js' %}"></script>
    </body>
</html>
