body{
    display: flex;
    flex-direction: column;
    background-image: url('images/woodplanks_background.jpg');
    background-size: cover;
    margin : 0vh 5vh 0vh 5vh;

    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        background-color: white;
        border: 0.4vh rgb(0, 0, 0) solid;
        border-top: none;
        text-align: end;
        width: 94vw;
        min-width: 94vw;
        height: 7vh;
        margin-bottom: 3vh;
        h1{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            padding-left: 2vh;
            flex: 1.2;
            font-size: 4vh;
        }
        nav{
            padding-right: 1vh;
            flex: 1;
            a{
                padding-left: 1vh;
                padding-right: 1vh;
                padding-top: 0.5vh;
                padding-bottom: 0.5vh;
                margin-right: -0.5vh;
                text-decoration: none;
                color: black;
                font-size: 2vh;
                border-left: 0.2vh solid rgb(214, 212, 212);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                &:nth-child(1){
                    border-left: none;
                }
                &:hover{
                    background-color: rgb(214, 212, 212);
                }
            }
            
        }
    
    }
    section{
        background-color: white;
        border: 0.4vh rgb(0, 0, 0) solid;
        align-self: center;
        width: 80vw;
        max-width: 80vw;
        min-width: 80vw;
        min-height: 50vw;
        .publish{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 1vh;
            button{
                align-self: flex-end;
                width: 23vh;
                font-size: 2vh;
                max-width: 29vh;
                padding: 0.5vh;
                max-height: 5vh;
                margin-right: 1vh;
                min-height: 5vh;
                border: 0.2vh solid black;
                background-color: rgba(255, 255, 255);
                box-shadow:  0vh 0.3vh 0.3vh 0vh #707070;
                &:hover{
                    background-color: rgb(234, 236, 236, 0.8);
                    cursor: pointer;
                    box-shadow: none;
                }
            }
        }
    }
}