{% extends "templates/app/website-base.html" %}
{% block title %}LITrevu{% endblock %}
{% block content %}
<h2>Créer une critique</h2>
<div class="posts-container">
    {% for field in form1 %}
        {% if form1.errors %}
            {{ form1.errors }}
        {% endif %}
    {% endfor %}
    {% for field in form2 %}
        {% if form2.errors %}
            {{ form2.errors }}
        {% endif %}
    {% endfor %}
    <div class="form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-fields">
                {{ form1.as_p }}
                {{ form2.as_p }}
            </div>
        <input class="send" type="submit" value="Envoyer">
        </form>
    </div>
</div>
{% endblock %} 