<!DOCTYPE html>
{% extends "templates/app/website-base.html" %}
{% block title %}Créez un ticket{% endblock %}
{% block content %}
    <h2>Demander une critique</h2>
    <div class="posts-container">
        {% for field in form %}
            {% if form.errors %}{{ form.errors }}{% endif %}
        {% endfor %}
        <div class="form border">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-fields">{{ form.as_p }}</div>
                <input class="send" type="submit" value="Envoyer">
            </form>
        </div>
    </div>
{% endblock %}
