{% extends "templates/app/website-base.html" %}
{% block title %}LITrevu{% endblock %}
{% block content %}
    <h2>Créer une critique</h2>
    <div class="posts-container">
        {% for field in form %}
            {% if form.errors %}{{ form.errors }}{% endif %}
        {% endfor %}
        <div class="review-ticket">
            <p>Vous êtes en train de poster en réponse à</p>
            <div class="ticket-body">
                <a href="{% url 'ticket_response' ticket.id %}">
                    <div class="ticket-response-header">
                        <p>{{ ticket.user }} a demandé une critique</p>
                        <p>{{ ticket.time_created }}</p>
                    </div>
                    <p>{{ ticket.title }}</p>
                    <p>{{ ticket.description }}</p>
                    {% if ticket.image %}<img src='{{ ticket.image.url }}'>{% endif %}
                </a>
            </div>
        </div>
        <div>
            <form class="ticket-response-form"
                  method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-fields">{{ form.as_p }}</div>
                <input class="send" type="submit" value="Envoyer">
            </form>
        </div>
    </div>
{% endblock %}
