{% extends "templates/app/website-base.html" %}
{% block title %}LITrevu{% endblock %}
{% block content %}
<div class="publish">
    <button><a href="{% url 'create_ticket' %}">Demander une critique</a></button>
    <button><a href="{% url 'create_review' %}">Créer une critique</a></button>
</div>
<h2>Mes posts</h2>
<div class="posts-container">
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'app/ticket-snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'app/review-snippet.html' %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
