body{
    place-content: center;
    .messages {
        background-color: #e6eff5;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        opacity: 1;
        position: absolute;
        top:27vh;
        left: 77vh;
        height: 3vh;
        transition: opacity 5s ease-in-out;
        width: 50vh;
        border-radius: 1vh;
        text-align: center;
        &.fade-in {
            opacity: 1;
        }
    
        &.fade-out {
            opacity: 0;
        }
    }
    p{
        padding: 1vh;
        margin: 1vh;
    }
    h1{
        font-family:'Courier New', Courier, monospace;
        font-size: 5vh;
    }
    margin: 0px;
    background-image: url("../../images/woodplanks_background.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: hidden;
    background-attachment: fixed;
    display: flex;
    flex-flow: row-reverse;
    input{
        height:4vh;
        border-radius: 1vh;
        border: 0.3vh solid black;
        font-size: 2vh;
        margin: 0vh;
        padding: 0.3vh;
    }
    button{
        margin: 1.1vh;
    }
    section{
        background-color: white;
        border: 0.4vh rgb(0, 0, 0) solid;
        align-self: center;
        width: 80vw;
        display: flex;
        flex-direction: column;
        max-width: 80vw;
        max-height: 88vh;
        height: 88vh;
        overflow: hidden;
        padding-bottom: 1vh;
        .logo{
            max-height: 20vh;
            align-self: center;
            min-height: 20vh;
                margin-bottom: 8vh;
            img{
                max-height: 100%;
                min-height: 100%;
                opacity: 0.7;
            }
        }

    }
}